{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron p-3">
                    <h2>Manage Users
                        <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add New User</button>
                    </h2>

                    {#                Jinja template #}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-hidden="true">x</span>
                                </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <table class="table table-hover table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>

{#                        Jinja template for displaying retrieved data #}
                        {% for row in users %}

                        <tr>
                            <td>{{ row.id }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.email }}</td>
                            <td>{{ row.role.value }}</td>
                            <td>
                                <a href="/update/{{ row.id }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ row.id }}">Edit</a>
        <form action="{{ url_for('main.delete', id=row.id) }}" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')">Delete</button>
        </form>
                            </td>
                        </tr>
                </div>


                {# Modal to Add User #}
                <div id="mymodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add User</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('main.insert') }}" method="POST">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="text" class="form-control" name="name" id="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" name="email" id="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="role">Role:</label>
                                        <select class="form-control" name="role" id="role" required>
                                            <option value="" disabled selected>Select a role</option>
                                            <option value="Admin">Admin</option>
                                            <option value="Staff">Staff</option>
                                            <option value="Student">Student</option>
                                            <option value="Guest">Guest</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Add User</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of Modal add -->

                {# Modal to Edit user #}
                <div id="modaledit{{ row.id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit User</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <form action="{{ url_for('main.update') }}" method="POST">
                                    <div class="form-group">
                                        <label for="name">Name:</label>
                                        <input type="hidden" name="id" value="{{ row.id }}">
                                        <input type="text" class="form-control" name="name" id="name" value="{{ row.name }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" name="email" id="email" value={{ row.email }} required>
                                    </div>
                                    <div class="form-group">
                                        <label for="role">Role:</label>
                                        <select class="form-control" name="role" id="role" required>
                                            <option value="" disabled>Select a role</option>
                                            <option value="Admin" {% if row.role.value == 'Admin' %} selected {% endif %}>Admin</option>
                                            <option value="Staff" {% if row.role.value == 'Staff' %} selected {% endif %}>Staff</option>
                                            <option value="Student" {% if row.role.value == 'Student' %} selected {% endif %}>Student</option>
                                            <option value="Guest" {% if row.role.value == 'Guest' %} selected {% endif %}>Guest</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- End of Modal Edit -->
            {% endfor %}
                    </table>

                {# Pagination controls #}
                <div class="pagination justify-content-center">
                    {% if users.has_prev %}
                        <a class="btn btn-primary" href="{{ url_for('main.index', page=users.prev_num) }}">Previous</a>
                    {% endif %}

                    <span class="btn btn-secondary disabled">Page {{ users.page }} of {{ users.pages }}</span>

                    {% if users.has_next %}
                        <a class="btn btn-primary" href="{{ url_for('main.index', page=users.next_num) }}">Next</a>
                    {% endif %}
                </div>
            </div> <!-- End of col-md-12 -->
        </div> <!-- End of row -->
    </div> <!-- End of container -->

{% endblock %}